*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgba(255,255,255,0.212);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

main{
    background-color: rgb(41,35,35);
    width: 100vw;
    height: 83%;
    position: fixed;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    background: linear-gradient(45deg, #ff00ff, #00ffff);

    /* Neon glow effect */
    box-shadow: 
        0 0 20px #ff00ff,  /* Pink glow */
        0 0 40px #ff00ff,
        0 0 80px #ff00ff,
        0 0 120px #ff00ff,
        0 0 20px #00ffff,  /* Cyan glow */
        0 0 40px #00ffff,
        0 0 80px #00ffff,
        0 0 120px #00ffff;
}

.neon-background {
    padding: 50px 100px;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.chat-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.chat-bubble {
  backdrop-filter: blur(5px);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    color: white;
    font-size: 16px;
    position: relative;
    word-wrap: break-word;
}

.chat-bubble.friend {
    background-color: rgba(32,32,32,0.2); 
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.chat-bubble.user {
    background-color: rgba(45,45,45,0.2); 
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.input_section{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.input_container{
    margin: 1rem;
    width: 100%;
    background: none;
    position: relative;
    border-radius: 20px;
    background-color: grey;
    padding: .25rem;
}

.input_container textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    overflow: hidden;
    font-size: 1rem;
    color: white;
    resize: none;
    padding: .5rem;
}

.input_container textarea::placeholder{
    color: white;
    font-size: 1rem;
}

.button_container{
    width: 6rem;
    height: 3rem;
    bottom: 0;
    background: none;
    margin: 1rem 1rem 1rem 0;
}

.send_icon{
    display: none;
}

.audio_icon, .send_icon{
    text-align: center;
    background-color: black;
    color: white;
    padding: .75rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}